//color
$white: 			white;
$dark-white:		#c0c0c0;
$light-green:		#30df4a;
$black:				#333333;
//spacer
$spacer-xxs: 		20px;
$spacer-xs: 		25px;
$spacer-sm: 		30px;
$spacer-md: 		55px;
$spacer-lg: 		75px;